<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <img *ngIf="flagShowNewImage" id="comentprod" src="assets/imgs/logo-parceiro.png" alt="">
        <img *ngIf="!flagShowNewImage" id="comentprod" src="assets/imgs/slide2.png" alt="">
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-slides pager>
        <ion-slide class="slide1">
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <h2>Vem pra caixa você também!</h2>
                        <p>Aqui você encontra informações e dicas sobre diversos serviços e produtos que irão facilitar o seu dia a dia e trazer mais tranquilidade para sua vida.</p>
                        <button class="orange">Entenda como funciona</button>
                    </ion-col>
                    <ion-col>
                        <img class="slide-image" src="assets/imgs/slide.png" alt="">
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-slide>
    </ion-slides>
    <ion-searchbar placeholder="O que você precisa?"></ion-searchbar>
    <div class="content" padding>
        <ion-grid>
            <ion-row>
                <ion-col>
                    <h3>Produtos <span>&</span> Serviços</h3>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-card>

                        <img src="assets/imgs/service1.png" />

                        <ion-card-content>
                            <ion-card-title>
                                <h4>Capitalização</h4>
                            </ion-card-title>
                            <p>
                                ​Multiplique seus ganhos e concorra a prêmios de até R$ 5 milhões.
                            </p>
                        </ion-card-content>

                        <ion-item>
                            <button ion-button block class="orange">Saiba mais</button>
                        </ion-item>

                    </ion-card>
                </ion-col>
                <ion-col>
                    <ion-card>

                        <img src="assets/imgs/service1.png" />

                        <ion-card-content>
                            <ion-card-title>
                                <h4>Capitalização</h4>
                            </ion-card-title>
                            <p>
                                ​Multiplique seus ganhos e concorra a prêmios de até R$ 5 milhões.
                            </p>
                        </ion-card-content>

                        <ion-item>
                            <button ion-button block class="orange">Saiba mais</button>
                        </ion-item>

                    </ion-card>
                </ion-col>
                <ion-col>
                    <ion-card>

                        <img src="assets/imgs/service1.png" />

                        <ion-card-content>
                            <ion-card-title>
                                <h4>Capitalização</h4>
                            </ion-card-title>
                            <p>
                                ​Multiplique seus ganhos e concorra a prêmios de até R$ 5 milhões.
                            </p>
                        </ion-card-content>

                        <ion-item>
                            <button ion-button block class="orange">Saiba mais</button>
                        </ion-item>

                    </ion-card>
                </ion-col>
                <ion-col>
                    <ion-card>

                        <img src="assets/imgs/service1.png" />

                        <ion-card-content>
                            <ion-card-title>
                                <h4>Capitalização</h4>
                            </ion-card-title>
                            <p>
                                ​Multiplique seus ganhos e concorra a prêmios de até R$ 5 milhões.
                            </p>
                        </ion-card-content>

                        <ion-item>
                            <button ion-button block class="orange">Saiba mais</button>
                        </ion-item>

                    </ion-card>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
    <div class="social">
        <ion-grid>
            <ion-row>
                <ion-col>
                    <h5>Parceiro caixa nas<br> redes sociais</h5>
                </ion-col>
                <ion-col>
                    <ion-icon name="logo-twitter"></ion-icon>
                    <p>twitter.com/parceiro-caixa</p>
                </ion-col>
                <ion-col>
                    <ion-icon name="logo-facebook"></ion-icon>
                    <p>fb.com/parceiro-caixa</p>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
    <div class="footer">
        <div class="text">
            <p>Todos os direitos reservados</p>
        </div>
    </div>
</ion-content>
<!-- <ion-footer>
  <ion-toolbar>
    <ion-title><h6>Acompanhe<br> nas redes sociais</h6></ion-title>
  </ion-toolbar>
</ion-footer> -->