page-gerar-documento {
    p{
        font-size: 14px;
        text-align: center;
        margin-top: 3px !important;
        margin-bottom: 15px;
        color: #bfbfbf;
        font-weight: 500;
    }

    .title {
        margin-top: 10px !important;
    }

    .button-custom{
        background: #2e2e2e;
        height: 50px;
        border-radius: 50px;
    }
}
